body{
    background-image: url(./img2/hoctap.jpg);
    background-size: 1360px 600px;
}

h1{
    color: rgb(6, 241, 241);
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
}
/* styles.css */
table {
    width: 50%;
    border-collapse: collapse;
    margin:auto;
    font-size: 18px;
    text-align:center;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ffffff;
}

thead {
    background-color: #00a2ec;
}

tr{
    color: aquamarine;
}
th{
    color: rgb(255, 0, 0);
}
